*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
*.bak
.DS_Store
/build
/captures
.externalNativeBuild
/words/kineticplasma-fonts_asimov
/words/kineticplasma-fonts_asimov.zip
/expandablerecyclerview
/_junk